body{
    font-family: helvetica, sans-serif;
    background-color: rgb(148, 170, 180);
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(218, 255, 239);
}

#main-content{
    background-color: rgb(218, 255, 239);
}

#titulo{
    font-family: cursive;
}

#descricao{
    font-family: 'Courier New', Courier, monospace;
}

#descricao strong{
    font-style: italic;
}

.first{
    font-size: 1.2em;
}
.second{
    font-size: 1.1em;
}
.third{
    font-size: 1.15em;
}

.picture{
    border-radius: 15px;
}

.button{
    background-color: #709290;
    padding: 15px 30px;
    line-height: 50px;
    border-radius: 10px;
    font-weight: 600;
}

.button:hover{
    background: #abccbe;
}